.App {
  text-align: center;
  background-image: linear-gradient(red, yellow);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec55.ani), url(http://cur.cursors-4u.net/mechanics/mec-1/mec55.png), auto !important;} 

.drum-pad{
  border: 1px solid rgb(182, 179, 16);
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
  background-color: #ffffff;
  perspective: 100px;
  perspective-origin: left;  
  box-shadow: 30px 30px;
  
  
}
.drum-pad:active{
  transform-origin: center top;
  animation-name: man_hand-rotate;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* Just another timing function */
  animation-direction: alternate;
}
@keyframes man_hand-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes man_hand-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
  }
}
#drum-pads {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

